<div class="appContacts">
  <div class="container">
    <div class="d-flex justify-content-between mb-4">
      <div>
        <h3>CONTACTOS</h3>
      </div>

      <div>
        <app-button
          [label]="'Nuevo'"
          [variant]="'primary'"
          (onClick)="createContact()"
        ></app-button>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cumpleaños</th>
          <th scope="col">Empresa</th>
          <th scope="col">Pagina web</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Correo</th>
          <th scope="col">Dirección</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let contact of contacts; let i = index">
          <th scope="row">{{ contact.id }}</th>
          <td>{{ contact.name }}</td>
          <td>{{ contact.dateOfBirth }}</td>
          <td>{{ contact.company }}</td>
          <td>{{ contact.website }}</td>

          <td>
            {{ contact.default_phone ? contact.default_phone[0].phone : "" }}
          </td>
          <td>
            {{ contact.default_email ? contact.default_email[0].email : "" }}
          </td>
          <td>
            {{
              contact.default_address ? contact.default_address[0].address : ""
            }}
          </td>

          <td>
            <div class="actionsContainer">
              <app-button
                [label]="'Ver'"
                [variant]="'info'"
                [fullWidth]="true"
                [size]="'sm'"
                [extraClasses]="'mb-2'"
                (onClick)="viewContact(contact.id)"
              ></app-button>

              <app-button
                [label]="'Editar'"
                [fullWidth]="true"
                [size]="'sm'"
                [extraClasses]="'mb-2'"
                (onClick)="editContact(contact.id)"
              ></app-button>

              <app-button
                [label]="'Eliminar'"
                [variant]="'warning'"
                [fullWidth]="true"
                [size]="'sm'"
                (onClick)="deleteContact(contact.id)"
              ></app-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
